---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Gestión Web por Futunub",
    description:
      " ¡Déjanos cuidar y mejorar tu sitio! Nos ocupamos para que tu página luzca genial y funcione a la perfección.",
    icon: "mdi:web-check",
  },
  {
    title: "Alta velocidad de carga",
    description:
      "Carga ultrarrápida, 3x veces más rápida que sitios convencionales. Distribuímos tu sitio en servidores a nivel mundial (CDN).",
    icon: "mdi:lightning-bolt",
  },
  {
    title: "Almacenamiento Ultra Seguro",
    description:
      "Tus datos están en los mejores servidores del mundo (Google, Amazon WS), ¡como tener tu sitio en super computadoras!",
    icon: "mdi:server-security",
  },
  {
    title: "Diseño para Todos los Dispositivos",
    description:
      "Tu página se verá increíble desde cualquier lugar: computadoras, tablets, ¡y hasta en el celular!",
    icon: "mdi:cellphone-link",
  },
  {
    title: "Sin Problemas de Tráfico",
    description:
      "No importa cuánta gente lo visite, ¡tu sitio siempre estará disponible!, en comparación a hospedajes tradicionales",
    icon: "mdi:car",
  },
  {
    title: "Soporte Técnico Humano",
    description:
      "Soporte Técnico directo con gente que habla tu idioma: ¿Problemas? ¡Contáctanos y lo solucionaremos pronto!",
    icon: "mdi:emoticon-happy-outline",
  },
];
---

<ContentSection title="Características" id="features">
  <Fragment slot="lead">
    Tomamos lo mejor de las 
    <span class="text-primary">tecnologías</span> más avanzadas y lo 
    potenciamos con nuestra 
    <span class="text-primary">creatividad,</span> asegurando que tu 
    presencia en línea sea <span class="text-primary">única.</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
