---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
---

<footer class="relative flex h-16 items-center justify-center"> 
  <p>&copy; <span id="currentYear"></span> 2024 Futunub. All rights reserved.</p>
</footer>
