---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Creamos sitios del futuro" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">

    <span class="text-primary">Ultrarrápidos,</span>
    con alojamiento de máxima<span class="text-primary"> seguridad</span> en 
    la mejor infraestructura en <span class="text-primary">la nube,</span> 
    soporte técnico y una arquitectura <span class="text-primary">eco-friendly.</span>

  </Fragment>
  <div>
    <a
      href="#plans"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Empieza ahora</span>
    </a>
  
  </div>
</ContentSection>
