---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Cuidamos al planeta" id="planet">

<Icon slot="eyebrow" name="mdi:planet" class="h-32 flex-shrink-0 text-green-600 dark:text-green-400" />
  <Fragment slot="lead">
    Nuestras páginas web funcionan con energía <span class="text-primary">sostenible.</span> 
  </Fragment>
  <div>
    <a
      href="https://www.websitecarbon.com/website/futunub-com/" target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Descubre por qué</span>
    </a>
  
  </div>

  <div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

</ContentSection>
