---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Cuidamos al planeta" id="planet">

<Icon slot="eyebrow" name="mdi:planet" class="h-32 flex-shrink-0 text-green-600 dark:text-green-400" />
  <Fragment slot="lead">
    Nuestras páginas web y hospedaje funcionan con energía <span class="text-primary">sostenible.</span> 
  </Fragment>
  
  
  <div class="w-64 justify-center">
    <a href="https://www.websitecarbon.com/website/futunub-com/" target="_blank">
        <img src="src/assets/planet-badge.png"></img>
    </a>
    
  </div>
  
  



</ContentSection>

