---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

---


<ContentSection title="Planes" id="plans">


      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center justify-center">



          <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Price card 1 -->
            <div class="rounded-lg shadow-lg p-6">
              <h3 class="text-2xl font-semibold mb-4">Basic Plan</h3>
              <p class="text-gray-600 mb-6">Empieza en línea con Futunube Privada. Es perfecto para comenzar: sitio web adaptable, seguridad integrada y soporte básico para tu proyecto. Obtén 5GB de espacio y todo lo necesario para lanzarte al mundo digital.
                </p>
              <div class="flex items-center justify-center mb-6">
                <span class="text-3xl font-bold mr-1">$</span>
                <span class="text-5xl font-bold">19</span>
                <span class="text-xl font-bold ml-1">/ month</span>
              </div>
              <ul class="text-gray-600">
                <li class="mb-3">Gestion de tu sitio por Futunub</li>
                <li class="mb-3">Sito web resonsive</li>
                <li class="mb-3">Velocidad de carga ultraligeras</li>
                <li class="mb-3">Ancho de banda</li>
                <li class="mb-3">Espacio de almacenamiento</li>
                <li class="mb-3">Red global CDN</li>
              </ul>
            <a href="/" 
              class="flex items-center justify-center gap-3 border-current px-6 py-4">
                <span>Contratar</span>
            </a>
              
            </div>
  
            <!-- Price card 2 (similar structure as card 1) -->
            
            <!-- Add additional price cards as needed -->
          </div>
        </div>
      </div>
    </ContentSection>

  
  <style>
  /* Tailwind CSS classes and custom styles can be added here */
  </style>
  