---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Planes" id="plans">

      <Fragment slot="lead">
        Descubre nuestros planes de<span class="text-primary"> hospedaje y mantenimiento</span> 
        (todo incluído) desde personales hasta
        <span class="text-primary"> premium.</span> 
        Con<span class="text-primary"> tecnología </span> y 
        <span class="text-primary">soporte </span> de primera.

      </Fragment>

      <div class="lg:m-64">
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
            <h3 class="mb-4 text-2xl font-semibold">Futunub </br>Personal</h3>
            <p>La mejor opción para uso personal y para tu próximo proyecto.</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">$169</span>
                  <span class="text-gray-500 dark:text-gray-400">/mes</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Hospedaje y mantenimiento</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Conecta tu dominio</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Multi dispositivos</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Carga <span class="font-semibold">ultrarrápida</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Almacenamiento: <span class="font-semibold">5gb</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Red global CDN</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">50</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Soporte técnico: <span class="font-semibold">Básico</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Mantenimiento: <span class="font-semibold">Básico</span> (Hasta 4 cambios anuales en 24 a 72 horas)</span>
                  </li>
                
            
              </ul>
              <a href="#" class="font-semibold">Empieza hoy</a>
          </div>
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
            <h3 class="mb-4 text-2xl font-semibold text-primary">Futunub </br>Startup</h3>
            <p>Ideal para impulsar tu marca y expandir tu negocio en línea.</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold text-primary">$289</span>
                  <span class="text-gray-500 dark:text-gray-400">/mes</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Hospedaje y mantenimiento</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>1 dominio .com* incluído</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Multi dispositivos</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Carga <span class="font-semibold">ultrarrápida</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Almacenamiento: <span class="font-semibold">20gb</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Red global CDN</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">100</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Soporte técnico: <span class="font-semibold">Preferente</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Mantenimiento: <span class="font-semibold">Preferente</span> (Hasta 8 cambios anuales en menos de 24 horas)</span>
                  </li>
                
            
              </ul>
              <a href="#" class="font-semibold">Empieza hoy</a>
          </div>
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
            <h3 class="mb-4 text-2xl font-semibold">Futunub </br>Premium</h3>
            <p>La elección superior con soporte premium para tu sitio web.</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">$339</span>
                  <span class="text-gray-500 dark:text-gray-400">/mes</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Hospedaje y mantenimiento</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>1 dominio .com* incluído</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Multi dispositivos</span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Carga <span class="font-semibold">ultrarrápida</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Almacenamiento: <span class="font-semibold">ilimitado</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Red global CDN</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">ilimitados</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Soporte técnico: <span class="font-semibold">Premium</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Mantenimiento: <span class="font-semibold">Premium</span> (Hasta 12 cambios anuales en menos de 12 horas)</span>
                  </li>
                
            
              </ul>
              <a href="#" class="font-semibold">Empieza hoy</a>
          </div>
         
          
      </div>

      </div>
      

</ContentSection>

  
  <style>
  /* Tailwind CSS classes and custom styles can be added here */
  </style>
  