---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Desarrollo web" id="plans">

  <Fragment slot="lead">
    Descubre nuestros planes de<span class="text-primary"> creación de sitios web.</span> 

  </Fragment>

  <div class="lg:m-20">
    <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
      <!-- Pricing Card -->
      <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
        <h3 class="mb-4 text-2xl font-semibold">Futunub </br>Personal</h3>
        <p>Ideal para portafolios personales, espacios creativos, artístas, etc.</p>
          <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-3xl font-extrabold">$4,499</span>
              <span class="text-gray-500 dark:text-gray-400">/único</span>
          </div>
          <!-- List -->
          <ul role="list" class="mb-8 space-y-4 text-left">
              <li class="flex items-center space-x-3">
                  <!-- Icon -->
                  <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                  <span>No incliye dominio .com (conecta tu dominio).</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Landing page (1 página)</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Adaptable a multi dispositivos</span>
              </li>
              <li class="flex items-center space-x-3">
                  <!-- Icon -->
                  <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                  <span>3x más rápido (Arquitectura Jamstack)</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
              </li>
              <li class="flex items-center space-x-3">
                  <!-- Icon -->
                  <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                  <span>Red global CDN</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">50</span></span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Sitio web eco-friendly</span>
              </li>
              <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                  <span>1 año de hospedaje gratis con Futunub</span>
                </li>

          
              
          
          </ul>
          <a href="https://wa.me/message/BHNYR7XNG7ERL1" class="font-semibold">Contáctanos</a>
          <a href="https://buy.stripe.com/9AQ2bm3410qo79m4gi" class="font-semibold">Empieza hoy</a>



      </div>
      <!-- Pricing Card -->
      <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
        <h3 class="mb-4 text-2xl font-semibold text-primary">Futunub </br>Startup</h3>
        <p>Ideal para impulsar tu marca y posicionar tu negocio en línea.</p>
          <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-5xl font-extrabold text-primary">$5,999</span>
              <span class="text-gray-500 dark:text-gray-400">/único</span>
          </div>
        
          <!-- List -->
          <ul role="list" class="mb-8 space-y-4 text-left">
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Incluye 1 dominio .com <span class="font-semibold">gratuito</span></span>
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
              <span>Hasta 4 páginas</span>
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
              <span>Adaptable a multi dispositivos</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>3x más rápido (Arquitectura Jamstack)</span>
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
              <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                <span>Red global CDN</span>
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
              <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">100</span></span>
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
              <span>Sitio web eco-friendly</span>
          </li>
         
          <li class="flex items-center space-x-3">
            <!-- Icon -->
            <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
            <span>1 año de hospedaje gratis con Futunub</span>
          </li>
      
          
      
        </ul>

        <a href="https://wa.me/message/BHNYR7XNG7ERL1" class="font-semibold">Contáctanos</a>
        <a href="https://buy.stripe.com/3cs2bm5c96OM9huaEH" class="font-semibold">Empieza hoy</a>


      </div>
      <!-- Pricing Card -->
      <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
        <h3 class="mb-4 text-2xl font-semibold">Futunub </br>Personalizado</h3>
        <p class="mb-12">¿Tienes un proyecto de eCommerce o un sistema más complejo en mente? Contáctanos para obtener una cotización personalizada, estaremos encantados de ayudarte.
        </p>
        <a href="https://wa.me/message/BHNYR7XNG7ERL1" class="font-semibold">Contáctanos</a>
      </div>
     
      
  </div>

  </div>
  

</ContentSection>

<ContentSection title="Hospedaje" id="plans">

      <Fragment slot="lead">
        
        Descubre nuestros planes de<span class="text-primary"> hospedaje y mantenimiento,</span> 
        nuestro hospedaje es privado
        <span class="text-primary"> (VPS).</span> 
        Almacenamiento en la mejor infraestructura y 
        <span class="text-primary">soporte </span> incluido.

      </Fragment>

      <div class="lg:m-32">
        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
            <h3 class="mb-4 text-2xl font-semibold">Hospedaje </br>Personal</h3>
            <p>La mejor opción para uso personal y para tu próximo proyecto.</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">$169</span>
                  <span class="text-gray-500 dark:text-gray-400">/mes</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Hospedaje y mantenimiento</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Conecta tu dominio</span>
                  </li>
                 
                 
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Almacenamiento: <span class="font-semibold">5gb</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Red global CDN</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">50</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Soporte técnico: <span class="font-semibold">Básico</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Mantenimiento: <span class="font-semibold">Básico</span> (Hasta 2 cambios anuales en 24 a 72 horas)</span>
                  </li>
                
            
              </ul>
              <a href="https://buy.stripe.com/4gwcQ0gURa0Y79mfYY" class="font-semibold">Empieza hoy</a>
          </div>
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
            <h3 class="mb-4 text-2xl font-semibold text-primary">Hospedaje </br>Startup</h3>
            <p>Ideal para impulsar tu marca y expandir tu negocio en línea.</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold text-primary">$229</span>
                  <span class="text-gray-500 dark:text-gray-400">/mes</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Hospedaje y mantenimiento</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>1 dominio .com* incluído</span>
                  </li>
                 
                 
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Almacenamiento: <span class="font-semibold">10gb</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Red global CDN</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">100</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Soporte técnico: <span class="font-semibold">Preferente</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Mantenimiento: <span class="font-semibold">Preferente</span> (Hasta 4 cambios anuales en menos de 24 horas)</span>
                  </li>
                
            
              </ul>
              <a href="https://buy.stripe.com/28o2bm9sp5KI79m004" class="font-semibold">Empieza hoy</a>
          </div>
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center rounded-lg border">
            <h3 class="mb-4 text-2xl font-semibold">Hospedaje </br>Premium</h3>
            <p>La elección superior con soporte premium para tu sitio web.</p>
              <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-5xl font-extrabold">$300</span>
                  <span class="text-gray-500 dark:text-gray-400">/mes</span>
              </div>
              <!-- List -->
              <ul role="list" class="mb-8 space-y-4 text-left">
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Hospedaje y mantenimiento</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>1 dominio .com* incluído</span>
                  </li>
                 
                  
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Certificado TLS <span class="font-semibold">gratuito</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Almacenamiento: <span class="font-semibold">ilimitado</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                      <!-- Icon -->
                      <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                      <span>Red global CDN</span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Capacidad para recibir formularios mensuales: <span class="font-semibold">ilimitados</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Soporte técnico: <span class="font-semibold">Premium</span></span>
                  </li>
                  <li class="flex items-center space-x-3">
                    <!-- Icon -->
                    <Icon name= "mdi:check" class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"/>
                    <span>Mantenimiento: <span class="font-semibold">Premium</span> (Hasta 8 cambios anuales en menos de 12 horas)</span>
                  </li>
                
            
              </ul>
              <a href="https://buy.stripe.com/6oE03e1ZX7SQ2T66ot" class="font-semibold">Empieza hoy</a>
          </div>
         
          
      </div>

      </div>
      

</ContentSection>


  